doctype html
head
  meta(charset='utf-8')
  title NCERT
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Lobster&display=swap' rel='stylesheet')




  style
      include ../static/style.css
body      
 header.main-header
  header.main-header
    .col
      nav.title
      nav.title
        img.photo(src='../static/sih2022.png' )
        .button.navitem1.piy
          a(href='/home.pug' style='text-decoration: none; color:white') Home 
        .button.navitem1.piy
          a(href='/project.pug' style='text-decoration: none; color:white')  Project 
        .button.navitem1.piy
          a(href='/about.pug' style='text-decoration: none; color : white' )  About us
        

 .container
   .item
     .extra 
       a(href='https://www.linkedin.com/in/pranit-puri/')
        img.img2(src='../static/in.png')
        img.img1.Img(src='../static/pranit.jpeg' )
        
       figcaption.name Pranit Puri(Team Leader) 
       figcaption.name Data enthusiast

   .item
     a(href='https://www.linkedin.com/in/pranjali-srivastava-550593222/')
      img.img2(src='../static/in.png')
      img.img1(src='../static/pranjli.jpeg' )
     figcaption.name Pranjili Srivastava
     figcaption.name Data enthusiast

   .item
     a(href='https://www.linkedin.com/in/nandini-tyagi-276a75213/')
      img.img2(src='../static/in.png')
      img.img1(src='../static/nandni.jpeg' )
     figcaption.name Nandni tyagi
     figcaption.name Data enthusiast 

   .item
     a(href='https://www.linkedin.com/in/avishi-tayal-29a554216/')
      img.img2(src='../static/in.png')
      img.img1(src='../static/avishi.jpeg' )
     figcaption.name Avishi Tayal 
     figcaption.name Data enthusiast  

   .item
     a(href='https://www.linkedin.com/in/apoorva-singh-3713a7222/')
      img.img2(src='../static/in.png')
      img.img1(src='../static/apu.jpeg' )
     figcaption.name Apoorva Singh
     figcaption.name Data enthusiast  

   .item
     a(href='https://www.linkedin.com/in/piyush-gupta-06b020213/')
      img.img2(src='../static/in.png')
      img.img1(src='../static/Piyush.jpeg' )
     figcaption.name Piyush Gupta
     figcaption.name Web Developer


   
 footer
  ul
    li
      i.fab.fa-facebook-f
    li
      i.fab.fa-twitter
    li
      i.fab.fa-instagram
    li
      i.fab.fa-linkedin-in
    li
      i.fab.fa-youtube
