doctype html
head

  style.
    table, th, td {
    border-style: ridge;
    border-color: #524242;
    color: #181616;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    
h1.heading Programming Languages
table
  tr
    th.sr Serial No.
    th.lan Language
    th.year Release Year
  tr
    td 1
    td Java
    td 1995
  tr
    td 2
    td Pascal
    td 1970
