doctype html
head
  
  style.
   body {
    background-color:black;
   }
    table, th, td {
    border-style:white;
    border-color: red;
    color: white;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .heading {
      color:white;
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    
h1.heading Class 6
table
  tr
    th.sr Serial No.
    th.lan Subject  
    th.year Page Number
  tr
    td 1
    td English-[HoneyShuckle]
    td 148
  tr
    td 2
    td English-[A-Pact-with-The-Sun]
    td 62
  tr
    td 3
    td Maths
    td 332
  tr
    td 4
    td Science
    td 175
  tr
    td 5
    td Social-Science-[History---Our-Past]
    td 138
  tr
    td 6
    td Social-Science-[Social-and-Political-Life-I]
    td 100
  tr 
    td 7
    td Social-Science-[The-Earth-Our-Habitat]
    td 72
