doctype html
head
  
  style.
   body {
    background-color:black;
   }
    table, th, td {
    border-style:white;
    border-color: red;
    color: white;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .heading {
      color:white;
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    
h1.heading Class 11
table
  tr
    th.sr Serial No.
    th.lan Subject  
    th.year Page Number
  tr
    tr
    td 1
    td Biology
    td 356
  tr
    td 2
    td Physics-[Part-2]
    td 192
  tr
    td 3
    td Chemistry-[Part-1]
    td 268
  tr
    td 4
    td Chemistry-[Part-2]
    td 172
  tr
    td 5
    td Political-Science-[Political-Theorey]

    td 169
  tr
    td 6
    td Political-science-[Indian-Constitution-at-Work]
    td 256
  tr
    td 7
    td History-[Themes-in-World-History]
    td 444



  tr
    td 8
    td Geography-[Fundamental-of-Physical-Geography]
    td 148
  tr
    td 9
    td Geography-[Practical-work-in-Geography]
    td 135
  tr
    td 10
    td Geography-[India-Physical-Environment]
    td 108
  tr
    td 11
    td Economics-[Indian-Economic-Development]
    td 220
  tr
    td 12
    td Accountancy-[Financial-Accounting-Part-1]
    td 342
  tr
    td 13
    td  Accountancy-[Financial-Accounting-Part-2] 
    td 300
  tr
    td 14
    td Business-Studies
    td 324



  tr
    td 15
    td English-[Hornbill]
    td 128
  tr
    td 16
    td English-[Snapshots-Supplementary-Reader]
    td 87
  tr
    td 17
    td English-[Woven-words]
    td 208
  tr
    td 18
    td Fine-Arts-[An-Introduction-to-Indian-Art-Part-I]
    td 120
  tr
    td 19
    td Computer-Science-Python-Book 
    td 272
  tr
    td 20
    td Graphic-Design-[The-Story-of-Graphic-Design]
    td 117
  tr
    td 21
    td Heritage-Crafts-[Living-Craft-Traditions-of-India]
    td 136



  tr
    td 22
    td Home-Science-[Human-Ecology-and-Family-Sciences-Part-2]
    td 164
  tr
    td 23
    td Home-Science-[Human-Ecology-and-Family-Sciences-Part-2]
    td 224
  tr
    td 24
    td Sociology-[Introducing-Sociology]
    td 112
  tr
    td 25
    td Sociology-[Understanding-Society]
    td 116
  tr
    td 26
    td Computers-And-Communication-CCT-Part-2
    td 165
  tr
    td 27
    td  Mathematics
    td 496



  tr
    td 28
    td Physics-[Part-1]
    td 248
  tr











