doctype html
head
  
  style.
   body {
    background-color:black;
   }
    table, th, td {
    border-style:white;
    border-color: red;
    color: white;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .heading {
      color:white;
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    
h1.heading Class 12
table
  tr
    th.sr Serial No.
    th.lan Subject  
    th.year Page Number
  tr
   tr
    td 1
    td Mathematics Part I
    td 300
  tr
    td 2
    td Mathematics Part II
    td 348
  tr
    td 3
    td Physics Part I
    td 324
  tr
    td 4
    td Physics Part II
    td 239
  tr
    td 5
    td Chemistry Part I
    td 304
  tr
    td 6
    td Chemistry Part II
    td 196
  tr
    td 7
    td Biology
    td 296
  tr
    td 8
    td Politics in India Since Independence 
    td 208
  tr
    td 9
    td Contemporary World Politics
    td 158
  tr
    td 10
    td Themes in Indian Society Part I
    td 128
  tr
    td 11
    td Themes in Indian Society Part II
    td 156   
  tr
    td 12
    td Themes in Indian Society Part III
    td 128   
  tr
    td 13
    td Fundamentals of Human Geography
    td 120
  tr
    td 14
    td Practical Work in Geography
    td 120
  tr
    td 15
    td Indian People and Economy
    td 162
  tr
    td 16
    td Introductory Microeconomics
    td 112
  tr
    td 17
    td Introductory Macroecoomics
    td 120
  tr
    td 18
    td Accountancy Part I
    td 264
  tr
    td 19
    td Accountacy Part II
    td 304    
  tr
    td 20
    td Business Studies Part I
    td 243
  tr
    td 21
    td Bussiness Studies Part II
    td 200
  tr
    td 22
    td Antra
    td 169
  tr
    td 23
    td Aroh
    td 167
  tr
    td 24
    td Vitan
    td 95
  tr
    td 25
    td Antral
    td 64
  tr
    td 26
    td Flamingo
    td 116
  tr
    td 27
    td Vistas
    td 112
  tr
    td 28
    td pschology
    td 224
  tr
    td 29
    td Craft Traditions of India
    td 148
  tr
    td 30
    td Towards a new age graphic design
    td 172