doctype html
head
  
  style.
   body {
    background-color:black;
   }
    table, th, td {
    border-style:white;
    border-color: red;
    color: white;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .heading {
      color:white;
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    
h1.heading Class 9
table
  tr
    th.sr Serial No.
    th.lan Subject  
    th.year Page Number
  tr
  tr
    td 1
    td English-[Beehive]
    td 156
  tr
    td 2
    td English-[Moments]
    td 79
  tr
    td 3
    td 'English-[Words-and-Expressions-1]
    td 176
  tr
    td 4
    td Health-and-Physical-Education
    td 216
  tr
    td 5
    td Mathematics 
    td 360
  tr
    td 6
    td Science
    td 228
  tr
    td 7
    td Social-Science-[Contemporary-India]
    td 74



  tr
    td 8
    td Social-Science-[Democratic-Politics]
    td 104
  tr
    td 9
    td Social-Science-[Economics]
    td 64
  tr
    td 10
    td Social-Science-[India-and-the-Contemporary-World-I]
    td 126
  tr
    td 11
    td Social-Science-[Contemporary-India-II]
    td 99
  tr
    td 12
    td English Workbook  - Words and Expressions -II
    td 182
  tr
    td 13
    td English-[First-Flight]
    td 171
  tr
    td 14
    td English-[Footprints-without-feet]
    td 87



  tr
    td 15
    td Mathematics 
    td 376
  tr
    td 16
    td Science
    td 292
  tr
    td 17
    td Social-Science-[India-and-the-Contemporary-World-I]
    td 212
  tr
