doctype html
head
  
  style.
   body {
    background-color:black;
   }
    table, th, td {
    border-style:white;
    border-color: red;
    color: white;
    text-align: center;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-size:1.3em;
     
    }
    .sr {
        width:10%;
    }
    .lan{
        width:40%;
    }
    .year{
        width:30%;
    }
    .heading
    {
        text-align:center;
        
    }
    .heading {
      color:white;
    }
    
h1.heading Class 10
table
  tr
    th.sr Serial No.
    th.lan Subject  
    th.year Page Number
  tr
  tr
    td 1
    td Social-Science-[Contemporary-India-II]
    td 99
  tr
    td 2
    td English Workbook  - Words and Expressions -II
    td 182
  tr
    td 3
    td English-[First-Flight]
    td 171
  tr
    td 4
    td English-[Footprints-without-feet]
    td 87



  tr
    td 5
    td Mathematics 
    td 376
  tr
    td 6
    td Science
    td 292
  tr
    td 7
    td Social-Science-[India-and-the-Contemporary-World-II]
    td 212
  tr
    td 8
    td 'Social-Science-[Understanding-Economic-Development]
    td 104
  tr
    td 9
    td Social-Science-[Democratic-Politics-II]
    td 124
  tr
