doctype html
head
  meta(charset='utf-8')
  title NCERT 
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap' rel='stylesheet')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap' rel='stylesheet')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap' rel='stylesheet')
  script(type='module' src='https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js')
  script(nomodule='' src='https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js')

  style
      include ../static/style.css
body      
 header.main-header
  header.main-header
    .col
      nav.title
      nav.title
        img.photo(src='../static/sih2022.png' )
        .button.navitem1.piy
          a(href='/home.pug' style='text-decoration: none; color:white') Home 
        .button.navitem1.piy
          a(href='project.html' style='text-decoration: none; color:white')  Project 
        .button.navitem1.piy
          a(href='/about.pug' style='text-decoration: none; color : white' )  About us

 section.middle
  section.teamname 
   h1 Brute  
   h1.edit Force 
  #aSide
    model-viewer(src='../static/book.gltf' alt='VR Headset' auto-rotate='' camera-controls='' ar='' ios-src='../static/book.gltf')

 section.extra 
    h2 The data used for model training     
 section.photu 
  img(src='../static/graph.jpeg')

 section.books 
  .booking
   img.fir.siz(src='../static/class4.jpg')
   figcaption.name Class 4 NCERT
  .booking 
   img.fir.siz(src='../static/class5.webp')
   figcaption.name Class 5 NCERT 
  .booking
   img.fir.siz(src='../static/class6.jpg')
   figcaption.name Class 6 NCERT

 section.books 
  .booking
   img.fir.siz(src='../static/class7.jpg')
   figcaption.name Class 7 NCERT
  .booking 
   img.fir.siz(src='../static/class8.webp')
   figcaption.name Class 8 NCERT 
  .booking
   img.fir.siz(src='../static/class9.webp')
   figcaption.name Class 9 NCERT

 section.books.ut
  .booking
   img.fir.siz(src='../static/class10.jpg')
   figcaption.name Class 10 NCERT 
  .booking 
   img.fir.siz(src='../static/class11.jpg')
   figcaption.name Class 11 NCERT
  .booking
   img.fir.siz(src='../static/class12.jpg')
   figcaption.name Class 12 NCERT


 footer
  ul
    li
      i.fab.fa-facebook-f
    li
      i.fab.fa-twitter
    li
      i.fab.fa-instagram
    li
      i.fab.fa-linkedin-in
    li
      i.fab.fa-youtube
